@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800')

html,
body
  font-family: 'Open Sans', sans-serif

h1
  font-size: 4rem
  font-weight: 900

h2
  font-size: 3rem
  font-weight: 900

h3
  font-size: 2rem
  font-weight: 900
  
