*
  transition: all .3s linear

.first-section
  min-height: 100vh
  background-color: $mygrey

  .portrait
    text-align: center

    #myPhoto
      width: 80%

      @media screen and (min-width: 992px)
        width: 40%


  .intro-text
    padding: 1.5em

    h1
      color: white
      line-height: 1.5em
      font-size: 2em

      @media screen and (min-width: 992px)
        font-size: 3.5em

      .purple-span
        box-shadow: inset 0 -15px $mypurple

        @media screen and (min-width: 992px)
          box-shadow: inset 0 -25px $mypurple

    #lookingFor
      color: white
      margin-bottom: 2em

      @media screen and (min-width: 992px)
        font-size: 1.1em

  .contact-btn
    background: linear-gradient(90deg, rgba(105,0,255,1) 0%, rgba(0,255,204,1) 100%)
    color: white
    font-weight: 700
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8)
    border: 0
    padding: 1.5em
    margin: 2em 0

  .contact-btn:hover
    transform: scale(1.2)

.projects-section
  padding: 1.5em

  h2
    color: $mygrey
    margin: 1em 0 2em 0

    @media screen and (min-width: 992px)
      margin: 1em 0 2em 1em
      font-size: 4em

    .green-span
      box-shadow: inset 0 -15px $mygreen

  .more-projects
    text-align: center
    margin: 6em 0

    a
      text-decoration: none
      color: $mygrey
      font-size: 2em
      font-weight: 700

    span::after
      content: ''
      display: block
      width: 0
      height: 3px
      background: $mypurple
      transition: width .5s

    span:hover::after
      width: 100%

  .social-media
    margin-top: -4em
    text-align: center

    img
      width: 60px
      height: 60px

    img:hover
      filter: grayscale(1)

.skills-section
  height: 850px
  background-color: $mygreen
  padding-bottom: 3em
  margin: 4em 0

  @media screen and (min-width: 992px)
    height: 700px

  .skill-list
    font-size: 3em
    font-weight: 900
    color: $mygrey
    text-align: center
    margin-top: 1em

    @media screen and (min-width: 992px)
      font-size: 5em

  .tools-box
    background-color: white
    height: auto
    border-radius: 5px
    padding: 1.5em
    margin-top: 3em
    margin-bottom: 2em
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3)

    @media screen and (min-width: 992px)
      width: 700px
      margin-top: 10em
      margin-left: 5em

    .tool-title
      text-align: center
      font-weight: 700
      font-size: 1.7em
      color: $mygrey
      margin-bottom: 1em

      @media screen and (min-width: 992px)
        font-size: 2em

    p
      font-size: 1.2em
      text-align: center

      @media screen and (min-width: 992px)
        font-size: 1.3em

  .soft-skills-list
    color: $mygrey
    font-style: italic
    font-weight: 300
    font-size: 1.6em
    text-transform: capitalize
    text-align: right
    margin-right: .6em
    margin-top: 2em
    line-height: 1.2em

    @media screen and (min-width: 992px)
      margin-right: 5em
      margin-top: 4em
      font-size: 2em

.cv-mail-section

  .gotoparrow
    text-align: center
    margin: .5em 0 4em

    .gotop
      color: $mypurple
      animation: floatAnimation .8s infinite 0s ease-in-out

      @keyframes floatAnimation
        0%
          transform: translateY(0%)
        50%
          transform: translateY(-20%)
        100%
          transform: translateY(0%)

  .linkedin
    text-align: center
    margin: 4em 0

    i
      color: $mygrey

    i:hover
      transform: scale(1.5)
      transition: all .3s
