//PAGE PROJECT ONLY

.gotoparrow
  text-align: center
  margin: 2em 0 4em

  .gotop
    color: $mypurple
    animation: floatAnimation .8s infinite 0s ease-in-out

    @keyframes floatAnimation
      0%
        transform: translateY(0%)
      50%
        transform: translateY(-20%)
      100%
        transform: translateY(0%)

.project-zoom
  padding: 1.5em

  h2
    color: $mygrey
    margin: 1em 0 2em 0

    @media screen and (min-width: 992px)
      margin: 1em 0 2em 1em
      font-size: 4em

    .green-span
      box-shadow: inset 0 -15px $mygreen

  .project-details
    margin-bottom: 8em

    .image-preview-main
      text-align: center

    .project-details-text
      font-size: 1.4em
      font-weight: 300
      line-height: 1.6em
      text-align: left

      .link-site
        text-align: right
        margin-top: 2em
        margin-right: 1em

        @media screen and (min-width: 992px)
          margin-top: 4em
          margin-right: 2em

        a
          color: $mygrey
          font-weight: 700

        span::after
          content: ''
          display: block
          width: 0
          height: 3px
          background: $mypurple
          transition: width .5s

        span:hover::after
          width: 100%

  .project-images-previewset
    margin: 8em 0

  .prev-next
    text-transform: uppercase
    color: $mygrey
    font-weight: 700
    cursor: pointer

    span::after
      content: ''
      display: block
      width: 0
      height: 3px
      background: $mypurple
      transition: width .5s

    span:hover::after
      width: 100%

    .text-align-center
      text-align: center

    @media screen and (min-width: 992px)
      .text-align-right
        text-align: right

      .text-align-left
        text-align: left
