.btn
  display: block
  padding: 1em
  text-align: center

button:focus
  outline: 0
  color: inherit
  border: 0px

button:visited
  outline: 0
  color: inherit
  border: 0px
  border-color: transparent

.btn-outline-black
  color: $mygrey
  border-radius: 10px
  border: 2px solid $mygrey
  font-weight: 700
  background-color: transparent
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3)

.btn-outline-black:focus
  border: 0

.btn-outline-black:hover
  background-color: $mygrey
  color: white
  transition: all 0.3s
  transform: scale(1.1)

.btn:focus
  background-color: $mypurple
  color: white
  box-shadow: 0 0 0 0
