footer
  background: linear-gradient(90deg, #6900ff, #00ffcc)
  background-size: 200% 200%
  height: 200px
  font-size: 1.1em
  color: white
  font-weight: 700
  text-align: center
  padding: 4em 1em

  p
    width: 100%

  -webkit-animation: footerGradientAnimation 3s ease infinite
  -moz-animation: footerGradientAnimation 3s ease infinite
  animation: footerGradientAnimation 3s ease infinite

  @keyframes footerGradientAnimation

    0%
      background-position: 0% 50%
    50%
      background-position: 100% 50%
    100%
      background-position: 0% 50%

  @-moz-keyframes footerGradientAnimation

    0%
      background-position: 0% 50%
    50%
      background-position: 100% 50%
    100%
      background-position: 0% 50%

  @-webkit-keyframes footerGradientAnimation

    0%
      background-position: 0% 50%
    50%
      background-position: 100% 50%
    100%
      background-position: 0% 50%

.sub-footer
  text-transform: uppercase
  text-align: center
  margin: .5em 0
  font-weight: 700
  color: $mygrey
  font-size: 0.8em
