.navbar
  background-color: $mygrey
  padding: .6em

  img
    max-height: 3rem

  .navbar-burger
    height: auto
    color: white

  .navbar-menu
    background-color: $mygrey

    .navbar-end

      .navbar-item
        background-color: $mygrey
        color: white

      .navbar-item
        font-weight: 700
        color: white


      span::after
        content: ''
        display: block
        width: 0
        height: 3px
        background: $mygreen
        transition: width .3s

      span:hover::after
        width: 100%
