.project-columns

  @media screen and (min-width: 992px)
    justify-content: space-around

  .project-container
    position: relative
    display: flex
    justify-content: space-between
    margin-top: 4em

    .project-number
      font-size: 3em
      font-weight: 900
      letter-spacing: -0.05em
      position: absolute
      top: -35px
      left: -7px
      z-index: 999
      color: $mygrey

      @media screen and (min-width: 992px)
        top: -35px
        left: -20px

  .image-project
    display: block
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2)
    border-radius: 5px

  .overlay
    position: absolute
    border-radius: 5px
    top: 0
    bottom: 0
    left: 0
    right: 0
    height: auto
    opacity: 0
    transition: .5s ease
    background-color: rgba(0, 0, 0, 0.5)

    h3
      color: white
      font-size: 2.3em

      @media screen and (min-width: 992px)
        font-size: 3em

    h4
      color: white
      font-size: 1.1em
      text-transform: uppercase
      font-weight: 700

    p
      font-size: 1em
      color: white

    .project-image-title
      position: absolute
      top: 10%
      left: 5%

    .project-image-sub
      position: absolute
      top: 24%
      left: 5%

    .project-text
      position: absolute
      top: 35%
      left: 5%

.project-container:hover .overlay
  opacity: 1
